body {
  font-family: "Work Sans", sans-serif;
}

/* NAVBAR */

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
  
  .nav-bar {
    float: right;
    margin-right: 10%;
  }
  
  .logo {
    float: left;
    color: rgb(246, 247, 216);
    margin-left: 20px;
    padding: 8px;
    border: 0.2px solid rgb(246, 247, 216);
    text-transform: uppercase;
    position: absolute;
  }
  
  .header-nav {
    background: black;
  }
  
  .header-nav::after {
    content: "";
    display: table;
    clear: both;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
  }
  
  nav li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 25px;
    flex: 1;
    position: relative;
  }
  
  nav a {
    color: rgb(246, 247, 216);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  nav a:hover {
    color: white;
  }
  
  nav a::before {
    content: "";
    display: block;
    height: 5px;
    width: 0%;
    top: 0;
    background-color: rgb(246, 247, 216);
    position: absolute;
    transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before {
    width: 100%;
  }

@media all and (max-width: 1100px) {
  nav a {
    font-size: 14px;
    padding-left: 10px;
  }
  .search {
    order: 1;
  }

  .logo {
    display: none;
  }
}
@media all and (max-width: 908px) {
  nav a {
    font-size: 10px;
    padding: 0px;
  }
  .search {
    order: 1;
  }

  .logo {
    display: none;
  }
}

@media all and (max-width: 760px) {

   .home-content {
       height: 200%;
   }

  nav a::before {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    top: 0;
    background-color: rgb(246, 247, 216);
    position: absolute;
    transition: all ease-in-out 250ms;
  }

  nav a:hover::before {
    width: 100%;
  }

  nav li {
    display: block;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
  }

  nav a {
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
  }
  .text-header {
      padding-left: 40px;
      padding-right: 40px;
      font-size: 20px;
      margin-bottom: 50px;
  }
}
/*HOME PAGE */

/* .home-container {
  background: black;
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 70%;
  margin-top: 80px;
  opacity: .2;
  position: absolute;
  border: .5px solid rgb(246, 247, 216, .8); 
} */

.home-header {
    position: absolute;
    z-index: 6;
}

.text-header {
    display: inline-block;
    color: rgb(246, 247, 216);
    font-family: 'Nothing You Could Do', cursive;
    font-size: 25px;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-top: 5%;
}

.home-content {
    position: absolute;
    z-index: 6;
    color: rgb(246, 247, 216);
    margin-top: 290px;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid rgb(246, 247, 216);
    background: rgb(0, 0, 0);
    height: 70%;
}

/* STARS */

/* ============================================================================================== 
Nick Mkrtchyan
https://www.facebook.com/sonick.pk
http://www.Mkrtchyan.zz.mu
================================================================================================= */

header {
  position: relative;
  z-index: 5;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.stars,
.twinkling,
.clouds {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

.stars {
  background: #000
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
  z-index: 0;
}

.twinkling {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat
    top center;
  z-index: 1;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top
    center;
  z-index: 3;

  -moz-animation: move-clouds-back 200s linear infinite;
  -ms-animation: move-clouds-back 200s linear infinite;
  -o-animation: move-clouds-back 200s linear infinite;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite;
}
