<!-- <div class="home-container" flex>
    <h1>Story of The Universe</h1>
</div> -->
<div class="back-container">
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="clouds"></div>
</div>

<div class="home-header container" layout-padding style="min-height: 600px;">
    <!-- <img src="../img/planet.png" alt="planet-logo" class="planet-logo" height="50" width="50"> -->
    <div class="text-header">
        <h1 class="stories">Stories Of The Universe</h1>
    </div>
    
</div>

<p class="home-content"> Lorem ipsum dolor amet drinking vinegar heirloom chartreuse vice taxidermy letterpress tumeric gluten-free af taiyaki 3 wolf
    moon. Pabst taxidermy distillery dreamcatcher, chillwave beard schlitz lomo succulents keffiyeh gastropub XOXO everyday
    carry health goth tilde. Hammock shabby chic edison bulb scenester cred sriracha paleo raclette slow-carb thundercats
    tacos keytar. Four dollar toast tousled before they sold out, meggings mixtape messenger bag cred portland 90's letterpress
    irony beard migas pop-up. Lomo live-edge cliche poutine, hexagon palo santo selfies. Live-edge actually flexitarian brunch,
    tattooed selfies occupy fanny pack hoodie kinfolk four dollar toast next level retro.
    <br>
    <br> Lorem ipsum dolor amet austin jean shorts meggings man braid, pug art party scenester organic meditation ethical you
    probably haven't heard of them viral. Tumblr master cleanse street art, viral la croix cronut four loko humblebrag cornhole
    chambray freegan farm-to-table. Cold-pressed banh mi gluten-free, taxidermy chicharrones coloring book forage pitchfork
    dreamcatcher cred chambray disrupt narwhal. Mumblecore cold-pressed flexitarian VHS hell of 8-bit XOXO tofu cliche letterpress
    jean shorts tousled fam post-ironic. Poutine photo booth readymade yuccie jianbing polaroid dreamcatcher hashtag synth
    swag leggings. Gentrify offal actually, vexillologist +1 keffiyeh jean shorts VHS gochujang dreamcatcher bespoke semiotics
    tbh. Salvia paleo jean shorts activated charcoal.
    <br>
    <br> Meh chambray fixie, paleo glossier gluten-free gochujang bespoke taiyaki. Copper mug poutine etsy craft beer hell of.
    Swag disrupt kitsch, butcher williamsburg meh kombucha jean shorts banh mi tattooed next level. Biodiesel keffiyeh chia,
    blue bottle 90's beard hashtag bicycle rights godard letterpress you probably haven't heard of them organic brooklyn
    art party direct trade. La croix lomo squid pabst freegan, tofu 8-bit deep v paleo taiyaki.
</p>
<!-- <img src="../img/dogpowers.jpeg" alt="dog" class="dog-picture"> -->