<!-- <nav>
    <div>
        <h2>
            <span>Powers Of The Universe</span>
        </h2>
        <ul>
        <li <a href="#!/profile">Powers Of The Universe </a></li>
        <li <a href="#!/goals">About Facilitator</a></li>
        <li <a href="#!/feed">Spiritual Direction</a></li>
        </ul>
    </div>
</nav> -->
<header class="header-nav">
<div class="container">

<p class="logo">Powers of The Universe</h3>
<nav class="nav-bar" flex="80">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Powers of The Universe</a></li>
        <li><a href="#">Spiritual Direction</a></li>
    </ul>
</nav>
</div>
</header>
